@model Order

@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <br />
    <h2>Fill your information for the checkout</h2>

    <div class="row">
        <div class="col-5">
            <ul class="list-group list-group-flush mb-3">

                @foreach (var Game in Model.Purchases.PurchasedGames)
                {
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <img src="@Game.PurchasedGame.ImageURL" width="50" height="50" alt="@Game.PurchasedGame.Name Image" />
                        @Game.PurchasedGame.Name

                        <span class="badge badge-light badge-pill">@Game.CartTotal.ToString("C2")</span>
                    </li>
                }
                <li class="list-group-item list-group-item-dark d-flex justify-content-between align-items-center">
                    Current cart total:
                    <span class="badge badge-success badge-pill">@Model.Purchases.CartTotal.ToString("C2")</span>
                </li>
            </ul>
        </div>
        <div class="col-7">
            <form asp-controller="Orders" asp-action="Checkout" method="post">
                <div class="form-row mb-3">
                    <div class="col">
                        @Html.LabelFor(model => model.Name)
                        @Html.TextBoxFor(model => model.Name, new { @class = "form-control rounded-0", @placeholder = "Enter your full name" })
                    </div>
                    <div class="col">
                        @Html.LabelFor(model => model.City)
                        @Html.TextBoxFor(model => model.City, new { @class = "form-control rounded-0", @placeholder = "Enter your city" })
                    </div>
                </div>

                <div class="form-row mb-3">
                    <div class="col">
                        @Html.LabelFor(model => model.Line1, "Address")
                        @Html.TextBoxFor(model => model.Line1, new { @class = "form-control rounded-0", @placeholder = "Enter your address" })
                    </div>
                    <div class="col">
                        @Html.LabelFor(model => model.Zip)
                        @Html.TextBoxFor(model => model.Zip, new { @class = "form-control rounded-0", @placeholder = "Enter your ZIP address" })
                    </div>
                </div>

                <div class="form-row mb-3">
                    <div class="col">
                        @Html.LabelFor(model => model.Line2, "Address 2")
                        @Html.TextBoxFor(model => model.Line2, new { @class = "form-control rounded-0", @placeholder = "Enter your second address" })
                    </div>
                    <div class="col">
                        @Html.LabelFor(model => model.State)
                        @Html.TextBoxFor(model => model.State, new { @class = "form-control rounded-0", @placeholder = "Enter your state" })
                    </div>
                </div>
                <div class="form-row mb-3">
                    <div class="col">
                        @Html.LabelFor(model => model.Line3, "Address 3")
                        @Html.TextBoxFor(model => model.Line3, new { @class = "form-control rounded-0", @placeholder = "Enter your third address" })
                    </div>
                    <div class="col">
                        @Html.LabelFor(model => model.Country)
                        @Html.TextBoxFor(model => model.Country, new { @class = "form-control rounded-0", @placeholder = "Enter your country" })
                    </div>
                </div>

                <div class="form-row">
                    <div class="col"><a asp-controller="BoardGames" asp-action="Index" class="btn btn-light btn-block">Keep buying</a></div>
                    <div class="col"><a asp-controller="ShoppingCart" asp-action="Index" class="btn btn-warning btn-block" role="button">Cancel</a></div>
                    <div class="col"><button class="btn btn-primary btn-block" type="submit">Checkout</button></div>
                </div>
            </form>
        </div>
    </div>
</div>

<div style="height: 600px;"></div>